<header>
    <nav class="site-nav">
        <ul class="list-horisontal">
            <li class="list-item">
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li class="list-item">
                <a href="{% url 'post-list' %}">Posts</a>
            </li>
            <li class="list-item">
                <a href="{% url 'post-create' %}">Create post</a>
            </li>
            <li class="list-item">
                <a href="{% url 'categories' %}">Categories</a>
            </li>
            <li class="list-item">
                <a href="{% url 'update user' %}">Profile</a>
            </li>
            
            <div >
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Log out</a>
                {% else %}
                <a href="{% url 'register' %}">Register</a> or <a href="{% url 'login' %}">Log in</a>

                {% endif %}
            </div>
       
    </nav>
</header>