<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        Home Page
        {% if user.is_authenticated %}
            Hi {{ user.full_name }}! 
            <a href="{% url 'logout' %}">Log out</a> 
            <a href="{% url 'update user' %}">Update your profile</a> 
        {% else %}
            <p>You are not logged in</p>
            <a href="{% url 'register' %}">Register</a> or <a href="{% url 'login' %}">Log in</a>
        {% endif %}
    </body>
</html>